query-builder{
    display:block;
    height:100%;
    width:100%;
}

.query-builder-group{
    padding: 0 0.5em 0 0.5em;
    margin: 0 0 0.5em 1em;
    border: 1px solid black;
    border-radius: 6px;
}

.group-div-header{
    padding-top:0.5em;
    padding-bottom:0.5em;
}

.query-builder-group .group-btn-opr
{
    width: 4em;
}

.query-builder-field{
    margin-left: 1em;
    padding:0.5em 0 0.3em 0;
}

.qb-drag-handle-grp{
    color: #000;
    cursor: move;
    font-size:130%;
    margin-top:-.05em!important;
    margin-left:-.26em!important;
}

.qb-drag-handle-fld{
    color: #000;
    cursor: move;
    font-size:130%;
    margin-left:-.26em!important;
}

.qb-tree-disabled{
    opacity:0.5;
}

/*.query-builder-field * {*/
.qb-no-ptr-ev{
    pointer-events: none;
}

.qb-error{
    background:#600000!important;
}

.group-div-header + .query-builder-field{
    padding-top: 0;
}

.query-builder-field + .query-builder-field
{
    border-top: 1px solid black;
}

button.qb-btn-icon + button.qb-btn-icon{
    margin-left:0.5em;
}

.qb-btn-icon{
    padding:0.1em 0.25em 0.25em 0.25em!important;
}

.qb-row-flex{
    display:flex;
    flex-direction:row;
}

.qb-indent-wrap{
    display:inline-block;
    padding-left: 0.5em;
    /*text-indent: -2em;*/
}

.qb-field-sel-dlg .ui-dialog-titlebar,
.qb-field-sel-dlg .ui-dialog-buttonpane{
    display:none;
}

.qb-field-sel-dlg .ui-dialog-content{
    padding:0 0.25em!important;
}

.qb-field-sel-container{
    padding: 0;
}

.qb-field-sel-object-name{
    padding: 0;
}

.qb-field-sel-object{
    padding: 0.125em 0 0.125em 1em;
}

.qb-field-sel{
    padding: 0.125em 0 0.125em 0;
}

.field-inp-lh
{
    min-width:20ch;
    margin-bottom: .2em;
}

.field-btn-sel-lh{
    margin-bottom: .2em;
}

.field-sel-opr + span{
    width:9ch!important;
    /*margin-bottom: 0.2em;*/
}

.field-btn-val-type
{
    margin-bottom: .2em;
}

.field-type-label{
    display:inline-block;
    width:3em;
}

.field-inp-rh{
    /*width:15em;*/
    min-width:20ch;
    display:none;
}

.field-btn-sel-rh
{
    margin-bottom: .2em;
}
