html
{
    height: 100%;
    font-size: 100%;
}

body
{
    font-family: "arial", "sans-serif";
    height: 100%;
    /*width: 100%;*/
    margin: 0;
    box-sizing: border-box;
}

.scrollable
{
    scrollbar-width: thin;
    overflow:auto;
}

div
{
    box-sizing: border-box;
}

.ui-resizable-s
{
    bottom:0!important;
}

.input-row
{
    padding: 0 0 0.25em 0;
    align-items:center;
}

.input-row div + div
{
    padding-left: 0.5em;
}

/*.ui-resizable-e {
    right: 0!important;
    width: 5px!important;
    background:#888;
}*/

/*
.custom-resizable-e {
    cursor: e-resize;
    width: 10px;
    right: 0;
    top: 0;
    height: 100%;
}
*/

.md_tree_div
{
    white-space:normal;
}

.md_tree_key
{
    max-width:60ch;
    word-break:break-all;
}

.md_tree_val
{
    min-width:30ch;
    max-width:58ch;
    overflow-wrap:anywhere;
    white-space:pre-wrap;
    user-select:text!important;
    -o-user-select:text!important; 
    -moz-user-select:text!important;
    -khtml-user-select:text!important;
    -webkit-user-select:text!important;
}

.md_tree_val_indent
{
    padding-left:2em;
}

/* fancytree animation resize hack*/
ul.ui-effects-placeholder { width:10px !important; }

/*
.ui-icon
{
    font-size:1rem!important;
    width:1em;
}
*/

span.fancytree-icon {
    margin:0 0 0 .35rem!important;
    vertical-align:middle!important;
}

span.fancytree-custom-icon {
    margin:0 0 0 .35rem!important;
    vertical-align:middle!important;
}

ul.fancytree-container
{
    font-size:1rem!important;
}

ul.fancytree-container ul
{
    padding: 0 0 0 21px!important;
}

/*
#data_md_tree ul.fancytree-container
{
    white-space:normal!important;
}
*/

/* Override Fancytree folder icons */
span.fancytree-node.fancytree-folder > span.fancytree-icon {
    background-image:none;
}

span.fancytree-node.fancytree-folder.fancytree-expanded > span.fancytree-icon {
    background-image:none;
}

span.fancytree-node.fancytree-folder > span.fancytree-icon:after {
    font-family:"jquery-ui";
    content: "\e69a";
}

span.fancytree-node.fancytree-folder.fancytree-expanded > span.fancytree-icon:after {
    font-family:"jquery-ui";
    content: "\e69b";
}


/* Override Fancytree expander icons */
span.fancytree-node.fancytree-folder > span.fancytree-expander {
    background-image:none;
}

span.fancytree-node.fancytree-folder.fancytree-expanded > span.fancytree-expander {
    background-image:none;
}

span.fancytree-node.fancytree-folder > span.fancytree-expander:after {
    font-family:"jquery-ui";
    font-size:.9rem!important;
    content: "\e647";
}

span.fancytree-node.fancytree-folder.fancytree-expanded > span.fancytree-expander:after {
    font-family:"jquery-ui";
    font-size:.9rem!important;
    content: "\e64a";
}

.col-flex
{
    display:flex;
    flex-direction:column;
}

.row-flex
{
    display:flex;
    flex-direction:row;
}

.sub-header
{
    padding:.25em!important;
    border-bottom-left-radius:0!important;
    border-bottom-right-radius:0!important;
}

.sel
{
    padding:.15em!important;
}

.sel-info-title
{
    padding:0.5em 0.25em;
    font-weight:bold;
    font-size:110%;
}

.sel-info-desc
{
    /*white-space:pre-wrap;*/
    padding: 0 0.5em;
}

scrollbar-width: thin;

.ui-checkboxradio-label
{
    padding:0 2px!important;
    margin:0!important;
    border-radius:0!important;
}

.my-check
{
    display:inline-block;
    white-space:nowrap;
    padding:.25em .5em 0 0;
}

.footer-tab-inner-div
{
    padding:.5em .5em 0 .5em;
    height:11em;
    overflow:auto;
}

svg text
{
    font-family: jquery-ui;
}

.small {
    margin: 0!important;
    padding: 1px .25rem!important;
    vertical-align: baseline!important;
}

.narrow {
    padding: .25rem .15rem!important;
}

.data-tree-title
{
    margin:0!important;
    padding:0!important;
}

.data-tree-subtitle
{
    display:block;
    font-size: .9em;
    padding:0.1em 0 0.25em 0;
    /*line-height: .85em;*/
    /*margin:0 0 .2em 0!important;*/
}

.data-tree-id
{
    display:inline-block;
    min-width:7em;
}

.data-tree-alias
{
    display:inline-block;
    min-width:15em;
}

.panel-sunk
{
    display:inline-block;
    box-shadow: 2px 2px 5px black inset;
    padding:2px;
    border-radius:6px;
    color: #aaa;
    vertical-align:middle!important;
}

.tooltip-style
{
    font-size:85%!important;
    padding:.25em!important;
}

.drop
{
    border-radius:0px 4px 4px 0px!important;
}

.ui-icon-circle-close
{
    cursor:pointer;
}

.btn-refresh
{
    margin: 0!important;
    padding: 0px 0px 2px 0px!important;
    font-size: .8rem!important;
    border-radius:4px!important;
}

.btn-icon
{
    padding:0.1em 0.25em 0.25em 0.25em!important;
}

.btn.btn-icon-tiny
{
    /*height:1.35em;*/
    padding:0 0.2em 0.15em 0.15em!important;
}

.btn.btn-icon-tiny span
{
    font-size:.9em;
}

.setting-table
{
    width:100%;
}

.setting-table td
{
    padding: 0 .25em 0 0;
}

.setting-table input
{
    width: 100%;
}

.setting-table tr td:nth-child(1)
{
    width: 10em;
}

.toolbar
{
    border:none!important;
    min-height:2em;
}

#data-tabs .ui-widget-header
{
    height:1.8rem;
}

.cat-nav-bar
{
    padding:0.4em .4em;
    border:none!important;
}

.cat-heading
{
    padding: 0 0.25em 0.25em 0.25em;
    border:none!important;
}

.cat-subheading
{
    padding:0.25em;
    padding-left: 0.5em;
    border:none!important;
}

.cat-content
{
    padding: 0;
    border-top:none!important;
}

.cat-toolbar
{
    border-bottom:none!important;
    padding:0.25em 0.5em;
}

.cat-sidebar-container
{
    padding:0.5em;
    border-top:none!important;
    border-bottom:none!important;
    border-left:none!important;
}

.cat-topic-result-div
{
    max-height:5em;
    overflow:auto;
    padding:0.25em 0.25em 0 0.25em;
}

.cat-topic-result
{
    margin: 0 0.25em 0.25em 0!important;
}

.cat-topic-result-empty
{
    margin: 0 0.25em 0.25em 0!important;
}

.cat-topic
{
    margin-bottom: .5em;
}

.cat-topic-div
{
    display:block!important;
    text-align:left!important;
    padding:0 0 0 0.5em!important;
    margin:0!important;
}

div.cat-topic-div .cat-topic-btn-div
{
    visibility:hidden;
}

div.cat-topic-div:hover .cat-topic-btn-div
{
    visibility:visible;
}


.cat-topic-cnt
{
    display:inline-block;
    font-size:80%;
    margin-top:0.25em;
    margin-left:0.5em;
    padding: 0.05em 0.4em 0.1em 0.4em;
    border-radius:0.5em;
}

.btn-cat-topic-open
{
    margin:0!important;
}

.cat-topic-empty
{
    /*padding:0.5em 1em;*/
}


.accordion .ui-accordion-header
{
    margin: 0!important;
    border-radius: 0!important;
    background:transparent!important;
}


/*
div.cat-coll-container
{
    padding:0.5em 0.25em 0 0.25em;
}

div.cat-coll-container > hr
{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}
*/

.cat-coll
{
    padding:0;
}

div.cat-coll-title-div
{
    padding:1em 1.5em;
    margin:0!important;
    display:block!important;
    text-align:left!important;

    /*border:1px solid transparent;
    background:#202020;*/
}

.cat-coll-icon
{
    font-size:1.1em;
    padding-right:0.5em;
}

div.cat-coll-title
{
    font-size:1.2em;
    flex:1 1 auto;
    padding-bottom: 0.5em;
}

div.cat-coll-title-div .cat-coll-btn-div
{
    visibility:hidden;
}

div.cat-coll-title-div:hover .cat-coll-btn-div
{
    visibility:visible;
}

.cat-coll-notes
{
    font-size:1.2em!important;
    flex:none;
    white-space:nowrap;
}


.cat-coll-btn-div
{
    flex:none;
}

.cat-coll-info-div
{
    user-select: none;
}

.cat-coll-info-brief
{
    padding:0 1em 1em 0;
    font-size:1rem;
    word-break:break-word;
}

.cat-coll-info-table
{
    width:100%;
    font-size:.9rem;
}

.cat-coll-info-table tr td:nth-child(1)
{
    width:10em;
    white-space:nowrap;
}

/*
.cat-coll-empty
{
}
*/

/*.cat-item-path
{
    background:#202020;
}*/

.cat-item-div
{
    padding:0 0 0 1em;
}

.cat-coll-sub-items-div
{
    padding:0 0 0 1em;
}

/*.cat-item
{
    background:#000;
}*/

.cat-item-title
{
    padding:0.25em 0.5em;
    border:1px solid transparent;
    height:2.2em;
    user-select: none;
}

/*.cat-item-title:hover
{
    background:#002000;
}*/

div.cat-item-title .btn-cat-folder-open
{
    /*display:none;*/
    visibility:hidden;
}

div.cat-item-title:hover .btn-cat-folder-open
{
    /*display:block;*/
    visibility:visible;
}

.cat-data-empty
{
    padding:0.25em;
}

.cat-mode + span
{
    width:13ch!important;
}

.cat-coll-sort + span
{
    width:14ch!important;
}

.sel-info-hdr
{
    border-top: none;
}

.sel-info-table
{
    width:100%;
}

.sel-info-table tr
{
    vertical-align:top;
}

.sel-info-table td{
    padding: 0.2em .5em;
}

.sel-info-table td:nth-child(2){
    width:100%;
    word-break: break-word;
}

.sel-info-icon
{
    font-size:1.5em;
    padding-top:0.25em!important;
}

.sel-note-table
{
    width:100%;
}

.sel-note-table tr
{
    vertical-align:top;
}

.sel-note-table td{
    padding: 0.2em .5em 0 0;
}

.sel-note-table td:nth-child(2){
    width:100%;
}

td.min-width
{
    width: 1%;
    white-space: nowrap;
}

.form-table
{
    width:100%;
    /*vertical-align:baseline;*/
}

.form-table tr
{
    vertical-align:middle;
}

/*.form-table td:last-child{*/
.form-table td:nth-child(1){
    /*vertical-align:top;*/
}

.form-table td:nth-child(2){
    width:100%;
}


/*.form-table td
{
    vertical-align:baseline;
}*/

.info_table
{
    border:none;
    border-collapse:collapse;
    width:100%;
    text-align:left;
}

.info_table td
{
    vertical-align:top;
}
/*
.info_table tr:nth-child(even)
{
    background-color: #eee;
}

.info_table tr:nth-child(odd)
{
    background-color: #fff;
}
*/

.info_table_fixed
{
    border:none;
    border-collapse:collapse;
    text-align:left;
}

.info_table_fixed th, .info_table_fixed td
{
    padding: 0 1em;
}

/*.info_table_fixed tr:nth-child(even)
{
    background-color: #eee;
}

.info_table_fixed tr:nth-child(odd)
{
    background-color: #808080;
}*/

.perm_table
{
    border:none;
    border-collapse:collapse;
    width:100%;
    text-align:left;
}

.border-table
{
    border-collapse: collapse;
}

.border-table
{
    border:1px solid #808080;
}

.border-table th
{
    border:1px solid #808080;
    text-align: left;
    padding: .25em;
}

.border-table td
{
    border:1px solid #808080;
    padding: .25em;
    vertical-align:top;
}

.task-table
{
    border:none;
    border-collapse:collapse;
    width:100%;
    text-align:left;
}

.task-table td
{
    vertical-align:top;
    padding: 0 2em 0 0;
}

.task-table th
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    font-weight: normal;
    text-decoration: underline;
    padding: 0.25em 2em 0.25em 0;
}


.cfg-info-table
{
    font-size: 90%;
}

.cfg-info-table td:nth-child(1)
{
    font-weight: bold;
}

.cfg-info-div
{
    float:left;
    margin:0 1em 0 0;
}

.no-border
{
    border:none!important;
    border-top-left-radius:0!important;
    border-top-right-radius:0!important;
    border-bottom-left-radius:0!important;
    border-bottom-right-radius:0!important;
}

.form-grid
{
    display:grid;
    grid-template-columns:max-content auto;
    column-gap:1em;
    row-gap:.25em;
    overflow-y:hidden;
    width:100%;
}

.dlg-no-title .ui-dialog-titlebar
{
    display:none;
}

.dlg-no-title .ui-dialog-content
{
    padding:0px!important;
}

/*.tabs-no-right-border .ui-widget-header
{
    border-right:none!important;
}*/

.tabs-no-header .ui-widget-header
{
    background:transparent !important;
    border-radius:0 !important;
    border-top-style:none!important;
    border-left-style:none!important;
    border-right-style:none!important;
    /*padding:0.1em 0 0 0!important;*/
}

.ui-selectmenu-button.ui-button
{
    padding: 1px .5em!important;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor
{
	padding: .1em .25em!important;
}

.search-wiz-select-button
{
    padding: 1px .5em!important;
    vertical-align:bottom!important;
    width: 9ch!important;
}

/* Hide all jQ dialog close buttons */
/*.ui-dialog-titlebar-close {
    visibility: hidden;
}*/

.ui-tabs-nav{
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.ui-tabs-panel{
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.ui-dialog, .ui-dialog-content {
    box-sizing: content-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:focus { outline: none; }

.ep-act
{
    color: #00E000!important;
}
.ep-inact
{
    color: #FF0000!important;
}

/* TODO Need to fix this - the xfr dialog match select menu */
#matches-menu
{
    max-height: 200px;
}

#matches-button
{
    width:100% !important;
    box-sizing: border-box !important;;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

textarea
{
    box-sizing: border-box !important;
}

.blink-background {
    animation:3s blinker linear infinite;
    -webkit-animation:3s blinker linear infinite;
    -moz-animation:3s blinker linear infinite;
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@-moz-keyframes blinker{
    0% { background-color:#000000; }
    20% { background-color:#9f0000; }
    80% { background-color:#000000; }
    100% { background-color:#000000; }
    /*
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
    */
}

@-webkit-keyframes blinker{
    0% { background-color:#000000; }
    20% { background-color:#9f0000; }
    80% { background-color:#000000; }
    100% { background-color:#000000; }
}

@keyframes blinker{
    0% { background-color:#000000; }
    20% { background-color:#9f0000; }
    80% { background-color:#000000; }
    100% { background-color:#000000; }
    /*0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }*/
}

.toc1
{
    text-decoration: none;
    font-size: 110%;
}

.toc2
{
    text-decoration: none;
    font-size: 100%;
}

.toc3
{
    text-decoration: none;
    font-size: 90%;
}

.toc4
{
    text-decoration: none;
    font-size: 85%;
}


::-webkit-scrollbar
{
    width: 0.5em;
    height: 0.5em;
}
