html
{
    height: 100%;
    font-size: 100%;
}

body
{
    font-family: "arial", "sans-serif";
    height: 100%;
    /*width: 100%;*/
    margin: 0;
    box-sizing: border-box;
}

.col-flex
{
    display:flex;
    flex-direction:column;
    /*height: 100%;*/
    /*justify-content:center;
    align-items:stretch;
    align-content:flex-start;*/
}

.row-flex
{
    display:flex;
    flex-direction:row;
    /*width: 100%;*/
    /*justify-content:flex-start;
    align-items:stretch;
    align-content:flex-start;*/
}

/*
.content
{
    background: #404040!important;
}
*/

.sub-header
{
    padding:.25em!important;
    border-bottom-left-radius:0!important;
    border-bottom-right-radius:0!important;
}

.sel
{
    padding:.15em!important;
}

.ui-checkboxradio-label
{
    /*padding:.15em!important;*/
    padding:0 2px!important;
    margin:0!important;
    border-radius:0!important;
}

.my-check
{
    display:inline-block;
    white-space:nowrap;
    padding:.25em .5em 0 0;
}

.tab-inner-div
{
    padding:.5em;
    height:5.5em;
    overflow:auto;
}

/*
.header
{
    background: #004000;
    color: #ffffff;
}

.footer
{
    background: #004000;
    color: #ffffff;
    padding: .5em;
}

.status-bar
{
    color:#00FF00;
    background:#202020;
}

.text
{
    background-image:none!important;
    background: #FFFFFF!important;
    color: #000000!important;
    font-size: 1rem!important;
    font-style: normal!important;
}
*/

.small {
    margin: 0!important;
    padding: .1rem .25rem!important;
    font-size: 1rem!important;
}

.btn-refresh
{
    margin: 0!important;
    padding: 0px 0px 2px 0px!important;
    font-size: .8rem!important;
    border-radius:6px!important;
}

.btn-icon
{
    padding: 0px 0px 0px 0px!important;
}

.setting-table th,td
{
    padding: 0 .25em 0 0;
}

.form-table
{
    width:100%;
}

/*.form-table td:last-child{*/
.form-table td:nth-child(2){
        width:100%;
}

.form-table td
{
    vertical-align:top;
}

.info_table
{
    border:none;
    border-collapse:collapse;
    width:100%;
    text-align:left;
}

.info_table td
{
    vertical-align:top;
}
/*
.info_table tr:nth-child(even)
{
    background-color: #eee;
}

.info_table tr:nth-child(odd)
{
    background-color: #fff;
}
*/

.info_table_fixed
{
    border:none;
    border-collapse:collapse;
    text-align:left;
}

.info_table_fixed th, .info_table_fixed td
{
    padding: 0 1em;
}

.info_table_fixed tr:nth-child(even)
{
    background-color: #eee;
}

.info_table_fixed tr:nth-child(odd)
{
    background-color: #fff;
}

.perm_table
{
    border:none;
    border-collapse:collapse;
    width:100%;
    text-align:left;
}
/*
.perm_table td:last-child{
    width:50%;
}
*/

/*
.perm_table tr:nth-child(even)
{
    background-color: #eee;
}

.perm_table tr:nth-child(odd)
{
    background-color: #fff;
}*/

/*
.perm_table td:nth-child(2)
{
    text-align:right;
}
*/

/*
td
{
    vertical-align:top;
}
*/

.no-border
{
    border:none!important;
}

/*
.ui-selectablexx
{
    background-color: #808080;
}

.ui-selectedxx
{
    background-color: #80FF80;
}
*/

/*ul.ui-effects-placeholder { width:10px !important; }*/

/*
.ui-fancytree.fancytree-container { 
    height: 100%;
    border: none;
    font-size: 1rem;
}
*/

/* Hide all jQ dialog close buttons */
.ui-dialog-titlebar-close {
    visibility: hidden;
}

.ui-tabs-nav{
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

:focus { outline: none; }

.ep-act
{
    color: #00E000!important;
}
.ep-inact
{
    color: #FF0000!important;
}
