[Unit]
Description=SDMS Repo Server
Requires=sdms-core.service
After=sdms-core.service
[Service]
PIDFile=/tmp/sdms-repo.pid
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/opt/datafed
ExecStart=/opt/datafed/sdms-repo -c /opt/datafed/keys
User=cades
[Install]
WantedBy=multi-user.target