[Unit]
Description=SDMS Repo Server
[Service]
PIDFile=/tmp/sdms-repo.pid
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/cades/SDMS/repository/server
ExecStart=/home/cades/SDMS/build/repository/server/sdms-repo -c /home/cades/.sdms/
[Install]
WantedBy=multi-user.target