[submodule "external/globus-connect-server-deploy"]
	path = external/globus-connect-server-deploy
	url = https://github.com/globus/globus-connect-server-deploy.git
[submodule "external/DataFedDependencies"]
	path = external/DataFedDependencies
	url = https://github.com/ORNL/DataFedDependencies.git
