/.idea/
.venv/
build
cmake/sodium_version
cmake/curl_version
cmake/zlib_version
common/proto/common/Version.proto
compose/metadata/.build-args
compose/**/.env
compose/**/.env*
compose/**/globus
compose/**/keys
compose/**/logs
compose/**/unset_env.sh
config/datafed.sh
config/datafed-authz.cfg
config/datafed-core.cfg
config/datafed-repo.cfg
config/datafed-ws.cfg
core/database/foxx/api/version_router.js
core/database/foxx/manifest.json
core/server/Version.hpp
dependencies
docs/.buildinfo
docs/.doctrees/
docs/.nojekyll
external/cppzmq/
external/globus-connect-server-deploy
external/json-schema-validator/
external/json/
external/libcurl/
external/libsodium/
external/libzmq/
external/openssl/
external/protobuf/
external/zlib/
python/datafed_pkg/datafed/VERSION.py
python/datafed_pkg/datafed.egg-info/
python/datafed_pkg/datafed/SDMS_Anon_pb2.py
python/datafed_pkg/datafed/SDMS_Auth_pb2.py
python/datafed_pkg/datafed/SDMS_pb2.py
python/datafed_pkg/datafed/Version_pb2.py
python/datafed_pkg/datafed/__pycache__/
python/datafed_pkg/dist/
web/package.json
repository/gridftp/globus5/authz/mock_core/Version.hpp
repository/gridftp/globus5/authz/source/Version.hpp
repository/server/Version.hpp
scripts/globus/datafed-home-repo.sh
scripts/globus/datafed-home-repo-form.json
scripts/globus/mapping.json
scripts/admin_datafed_backup.sh
scripts/admin_refresh_certs.sh
scripts/globus/__pycache__
services/
tmp/
web/SDMS.proto
web/SDMS_Anon.proto
web/SDMS_Auth.proto
web/version.js
web/Version.proto
web/datafed-core-key.pub
web/node_modules/
web/package-lock.json
web/static/datafed-core-key.pub
*.swp
*.swo
*.tar.gz
*.tgz

# for web tests
tests/end-to-end/web-UI/node_modules/
tests/end-to-end/web-UI/test-results/
tests/end-to-end/web-UI/playwright-report/
tests/end-to-end/web-UI/blob-report/
tests/end-to-end/web-UI/playwright/.cache/
tests/end-to-end/web-UI/tests-examples
tests/end-to-end/web-UI/.auth
tests/end-to-end/web-UI/.env
tests/end-to-end/web-UI/auth.setup.js
