[Unit]
Description=SDMS Core Server
Requires=arangodb3.service
After=arangodb3.service
[Service]
PIDFile=/tmp/sdms-core.pid
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/opt/datafed
ExecStart=/opt/datafed/sdms-core --cfg /opt/datafed/datafed-core.cfg
User=cades
[Install]
WantedBy=multi-user.target