[Unit]
Description=SDMS Core Server
[Service]
PIDFile=/tmp/sdms-core.pid
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/cades/SDMS/core/server
ExecStart=/home/cades/SDMS/build/core/server/sdms-core -c /home/cades/.sdms/  -u http://127.0.0.1:8529/_db/sdms/api/
User=cades
[Install]
WantedBy=multi-user.target