[Unit]
Description=DataFed Repo Server
[Service]
PIDFile=/tmp/datafed-repo.pid
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/opt/datafed/repo
ExecStart=/opt/datafed/repo/datafed-repo --cfg /opt/datafed/repo/datafed-repo.cfg
User=cades
[Install]
WantedBy=multi-user.target
