[Unit]
Description=DataFed Core Server
Requires=arangodb3.service
After=arangodb3.service
[Service]
PIDFile=/tmp/datafed-core.pid
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/opt/datafed/core
ExecStart=/opt/datafed/core/datafed-core --cfg /opt/datafed/core/datafed-core.cfg
StandardOutput=append:/var/log/datafed/datafed-core.log
StandardError=append:/var/log/datafed/datafed-core.log
User=cades
[Install]
WantedBy=multi-user.target
