[Unit]
Description=SDMS Web Server
[Service]
PIDFile=/tmp/sdms-ws.pid
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/opt/datafed/web
ExecStart=/opt/datafed/web/sdms-ws.js /opt/datafed/datafed-ws.cfg
[Install]
WantedBy=multi-user.target
