[Unit]
Description=SDMS Repo Server
[Service]
PIDFile=/tmp/sdms-repo.pid
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/opt/datafed
ExecStart=/opt/datafed/sdms-repo --cfg /opt/datafed/datafed-cades-repo.cfg
User=cades
[Install]
WantedBy=multi-user.target
