[Unit]
Description=SDMS Web Server
Requires=sdms-core.service
After=sdms-core.service
[Service]
PIDFile=/tmp/sdms-ws.pid
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/opt/datafed/web
ExecStart=/opt/datafed/web/sdms-ws.js /opt/datafed/datafed-ws.ini
[Install]
WantedBy=multi-user.target